rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /history2SingleStudent/main/history2State/{stateId} {
      allow read, create, update, delete: if request.auth != null;
    }
  }
}
